* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(38, 43, 49);
  color: #f4f4f4;
  overflow: hidden;
}

.wrapper {
  max-width: 375px;
  min-height: 100vh;
  margin: 0px auto;
  position: relative;
  background: rgb(38, 43, 49);
  background: linear-gradient(
    132deg,
    rgba(38, 43, 49, 1) 0%,
    rgba(0, 0, 0, 0.9726015406162465) 50%
  );
  padding: 15px 10px;
}
.nav_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
.nav_flex img {
  width: 15px;
  height: 15px;
}
.nav_flex p {
  font-weight: 600;
  font-size: 15px;
}

.nav_menu {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu p {
  font-size: 13px;
  font-weight: 500;
}
.nav_menu select {
  outline: none;
  background-color: #2e3339;
  color: #fff;
  border-radius: 16px;
  font-size: 11px;
  padding: 3px;
  border: none;
}
.card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 8px;
}
.card_grid .card {
  position: relative;
  background: url(/assets/bg-img.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  border-radius: 8px;
  padding: 5px;
}
.card_grid .card div:nth-of-type(1) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card_grid .card div:nth-of-type(1) p {
  background-color: #000000c3;
  font-size: 11px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.card_grid .card .play_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_grid .card .play_content div {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 16px;
  padding: 1px 5px;
}
.card_grid .card div:nth-of-type(2) img {
  width: 10px;
  height: 10px;
}
.card_grid .card div:nth-of-type(2) p {
  font-size: 10px;
  color: #18202b;
  background: none;
  font-weight: 500;
}
.somefuck {
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
